.nav_container{
    display: flex;
    
    border: 5px solid orangered; 
    flex-direction: row;
    justify-content: flex-start;
    
}
html, body{
    height: 100%;
}
#home {
    color: black;
    background-color: blueviolet;
    
    
}
#search{
    background-color: red;
    color: yellow;
    
    
}
#about{
    background-color: gold;
    color: green;
    
}

#contact{
    background-color: aqua;
    color: red;

}
body{
    background-color: white;
}
.nav_container > div{
    padding: 10px;
    
}
