*{
    margin: 0;
    padding: 0;
    box-sizing:content-box;
}
html{ 
    font-size: 1rem;
}
body{
    
    
}
h1{
    border: 3px solid skyblue;
    padding: 10px;
    margin: 10px;
}
p{
    border: 10px double rgb(29, 37, 40);
    outline: px double green;
    padding: 15px;
    margin: 10px;
}