*{
    padding: 0;
    margin: 0%;
    box-sizing: border-box;
}
body{
    background: radial-gradient(white, blue)
}

.header{
    padding: 0.5rem;
    text-align: center;
    background-color: rgb(12, 12, 87);
    color: antiquewhite;
}

.link_container{
    background-color: antiquewhite;
    text-align: center;
    display: ;
    padding: 0.6rem;
    border-bottom: 2px solid black;
}

.img_container{

}

.img_container > img{
    height: 45%;
    width: 45%;
}
p{
    padding: 0.6rem;
    /* border: 2px dashed black; */
    
}
.footer{
    text-align: center;
    
    background-color: rgb(12, 12, 87);
    color: antiquewhite;
    padding: 1rem;
}