*{
    text-align: center;
    font-size: 1.5rem;
}
ol{
    list-style-type:lower-roman;
    list-style-position: inside;
    padding: 0;
}
ul{
    list-style-position: inside;
    list-style-type: disc;
    padding: 0;
    
}
ul ::marker{
    content: '$1 only>> ';
}