.div_containor{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    flex-wrap: wrap;
    box-shadow: 10px grey;
    height: 100%;
    width: 100%; 
}
.nav_containor{
    display: flex;
    border: 2px solid aqua;
    justify-content: flex-end;
    flex-wrap: wrap;
}
.nav_containor > div {
    padding: 5px;
    background-color: aqua;
    flex: ;  
}
.nav_containor > #image{
    justify-content: flex-end;
    align-items: end;    
}
#home{
    align-self: flex-start;
}
#sign{
    
}
body{
    background-color: #f9f3f3;
   
}
.div_containor > div > img{
    width: 100%;
    height: 100%;
    
    box-shadow: 2px 2px 2px #494141;
    color: #010101;
    object-fit: cover;
        
}
body, html{
    height: 100%;
    width: 100%;
  
}
.div_containor > div{
    flex: 1 1 200px;
    padding: 1px;
    margin: 10px;
}
.div_containor > .wideimg{
    flex: 1 1 500px;
}
.div_containor > .tallimg{
    flex: 1 1 300px;
}
.normalimg{

}
#car5{
    order: 1;
}
body{
    background-color: #fcfafa;
}
